<section class="about-generic-area section-gap">
  <div class="container border-top-generic">
    <div class="row" style="max-height: 300px; overflow: hidden;">
      <div class="col-md-12">
        <img [src]="competition.photo" class="img-contain" />
      </div>
    </div>
    <div class="row" style="margin-top: 50px;">
      <div class="col-md-8 offset-md-1">
        <div class="row">
          <div class="col-md-12">
            <h1 class="">{{competition.name}}</h1>
            <p class=""><i>{{competition.category}}</i></p>
            <hr/>
            <p>{{competition.description}}</p><br/>
            <h3>Rules:</h3>
            <hr/>
            <ol class="numbered">
              <li *ngFor="let rule of competition.rules">{{rule}}</li>
            </ol>
            <br/>
            <h3>Judging Criteria:</h3>
            <hr/>
            <p>{{competition.judging_criteria}}</p>
            <br/>
            <!-- <h3>Winning Criteria:</h3>
            <hr/>
            <p>{{competition.winning_criteria}}</p> -->
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <p>
          <b>Minimum Members Allowed</b>: {{competition.min_members}}<br/>
          <b>Maximum Members Allowed</b>: {{competition.max_members}}<br/>
          <b>Per Member Fee</b>: {{competition.per_member_fee}}
        </p>
      </div>
    </div>
  </div>
</section>
