<main-banner></main-banner>

<br/><br/><hr/>
<h1 class="display-1 text-center d-none d-md-block">WHAT'S IN IT THIS YEAR?</h1>
<h2 class="text-center d-block d-md-none">WHAT'S IN IT THIS YEAR?</h2>
<hr/><br/><br/>

<main-features></main-features>

<br/><br/><hr/>
<h1 class="display-1 text-center d-none d-md-block">HIGHLIGHTS OF 2018</h1>
<h2 class="text-center d-block d-md-none">HIGHLIGHTS OF 2018</h2>
<hr/><br/><br/>

<main-highlights></main-highlights>

<hr/>
<h1 class="display-1 text-center d-none d-md-block">THE TEAM</h1>
<h1 class="text-center d-block d-md-none">THE TEAM</h1>
<hr/><br/><br/>

<main-team></main-team>

<hr/>
<h1 class="display-1 text-center d-none d-md-block">WHAT ARE YOU WAITING FOR?</h1>
<h2 class="text-center d-block d-md-none">WHAT ARE YOU WAITING FOR?<br/><br/></h2>
<div class="text-center">
  <i class="fa fa-dot-circle-o fa-2x"></i><br/><br/>
  <a *ngIf="!(isLoggedIn$ | async)" class="genric-btn callaction-btn e-large" routerLink="/register">REGISTER NOW</a><br/><br/>
  <a *ngIf="(isLoggedIn$ | async)" class="genric-btn callaction-btn e-large" routerLink="/teams/register">REGISTER NOW</a><br/><br/>
  <i class="fa fa-dot-circle-o fa-2x"></i>
</div>
<br/>