<section class="home-video-area">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-8">
        <div id="pastPhotosCarousel" class="carousel slide carousel-fade" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#pastPhotosCarouselIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#pastPhotosCarouselIndicators" data-slide-to="1"></li>
            <li data-target="#pastPhotosCarouselIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/img/slides/1.jpg" class="d-block img-cover mx-auto" alt="https://via.placeholder.com/1000x500">
              <!-- <div class="carousel-caption d-none d-md-block">
                <h1>First Slide</h1>
                <p>Some deep text</p>
              </div> -->
            </div>
            <div class="carousel-item">
              <img src="assets/img/slides/2.jpg" class="d-block img-cover mx-auto" alt="https://via.placeholder.com/1000x500">
              <!-- <div class="carousel-caption d-none d-md-block">
                <h1>Second Slide</h1>
                <p>Some deep text 2</p>
              </div> -->
            </div>
            <div class="carousel-item">
              <img src="assets/img/slides/3.jpg" class="d-block img-cover mx-auto" alt="https://via.placeholder.com/1000x500">
              <!-- <div class="carousel-caption d-none d-md-block">
                <h1>Third Slide</h1>
                <p>Some deep text 3</p>
              </div> -->
            </div>
          </div>
          <a class="carousel-control-prev text-black" href="#pastPhotosCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next text-black" href="#pastPhotosCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Start video-sec Area -->
<section class="video-sec-area section-gap" id="videos">
  <div class="container">
    <div class="row justify-content-center align-items-center ">
      <div class="col-lg-6 video-left">
        <!-- <h6>HIGHLIGHTS</h6> -->
        <h4><b>PROCOM 2018</b> experienced an enormous assemblage of young, talented individuals hoping to liberate their potential.
            Captivating passion and drive was observed in all the competitors which exceeded all expectations. The event was a huge success.
            With 2019 already here, <b>PROCOM</b> brings more and better than what has ever been witnessed. Stay tuned and register yourself to see the action live.</h4>
        <br/>
        <br/>
        <!-- <a class="primary-btn" href="#">REGISTER FOR '19</a> -->
      </div>
      <div class="col-lg-6">
        <div class="active-video-carusel">
            <div class="item video-right justify-content-center align-items-center d-flex" style="background:url(assets/img/ss1.jpg) no-repeat center;background-size: cover;">
            <div class="overlay overlay-bg"></div>
            <a class="play-btn" href="https://www.youtube.com/watch?v=KkmiZ3gY_LU"><img class="img-fluid" src="assets/img/play-icon.png" alt=""></a>
            </div>
            <div class="item video-right justify-content-center align-items-center d-flex" style="background:url(assets/img/ss2.jpg) no-repeat center;background-size: cover;">
            <div class="overlay overlay-bg"></div>
            <a class="play-btn" href="https://www.youtube.com/watch?v=vCs_4XP1nM8"><img class="img-fluid" src="assets/img/play-icon.png" alt=""></a>
            </div>												
        </div>							
      </div> 
    </div>
  </div>	
</section>
<!-- End video-sec Area -->