<section class="generic-banner relative">	
  <div class="container">
    <div class="row height align-items-center justify-content-center">
      <div class="col-lg-10">
        <div class="generic-banner-content">
          <h2 class="text-white">Team Registration</h2>
        </div>							
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->
<div class="container container-v-padded">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form class="form-registerteam" [formGroup]="registerTeamForm" (ngSubmit)="onRegisterTeamSubmit()">
        <!-- <h1 class="h3 mb-3 font-weight-normal">Team Registration</h1> -->

        <input type="text" name="name" formControlName="name" class="single-input" placeholder="Team name" required autofocus>
        <control-messages [control]="registerTeamForm.controls.name"></control-messages>
        <br>
        
        <ng-select [items]="competitions$ | async"
          formControlName="competition"
          placeholder="Competition"
          bindLabel="name"
          class="ng-select-custom">
        </ng-select>
        <control-messages [control]="registerTeamForm.controls.competition"></control-messages>
        <br>

        <input type="text" name="promoCode" formControlName="promoCode" class="single-input" placeholder="Promo Code" autofocus>
        <control-messages [control]="registerTeamForm.controls.promoCode"></control-messages>
        <br>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="isAccomodation" name="isAccomodation" formControlName="isAccomodation">
          <label class="form-check-label" for="isAccomodation">
            Accomodation (Accomodation charges: Rs.1800/member - recommended for non-Karachities)
          </label>
        </div>
        <br>
        <hr/>
        <p class="h5 font-weight-normal">Members: </p><br/>
        <table class="table table-responsive-sm">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone No</th>
              <th scope="col">Cnic</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let member of members; let i = index">
              <td>{{member.name}}</td>
              <td>{{member.email}}</td>
              <td>{{member.phone_no}}</td>
              <td>{{member.cnic == "" ? "-" : member.cnic}}</td>
              <th *ngIf="i == 0" scope="row"><span class="badge badge-secondary">LEADER</span></th>
              <th *ngIf="i != 0" scope="row"><a href="#" (click)="removeTeamMember(i)" class="btn btn-link btn-sm">Remove</a></th>
            </tr>
            <tr>
              <td>
                <input type="text" name="memberName" formControlName="memberName" class="single-input" placeholder="Name" required>
                <control-messages [control]="registerTeamForm.controls.memberName"></control-messages>
              </td>
              <td>
                <input type="text" name="memberEmail" formControlName="memberEmail" class="single-input" placeholder="Email" required>
                <control-messages [control]="registerTeamForm.controls.memberEmail"></control-messages>
              </td>
              <td>
                <input type="text" name="memberPhoneNo" formControlName="memberPhoneNo" class="single-input" placeholder="Phone number" required>
                <control-messages [control]="registerTeamForm.controls.memberPhoneNo"></control-messages>
              </td>
              <td>
                <input type="text" name="memberCnic" formControlName="memberCnic" class="single-input" placeholder="Cnic">
                <control-messages [control]="registerTeamForm.controls.memberCnic"></control-messages>
              </td>
              <th scope="row"><a href="#" (click)="addTeamMember()" class="btn btn-link btn-sm">Add</a></th>
            </tr>
          </tbody>
        </table>

        <br/>

        <re-captcha formControlName="recaptcha"></re-captcha>

        <button class="genric-btn primary circle pull-right" *ngIf="registerTeamForm.controls.recaptcha.valid" type="submit">Register</button>
      </form>
    </div>
  </div>
</div>