<!-- start footer Area -->		
<footer class="footer-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-6">
        <div class="single-footer-widget">
          <h6>About Us</h6>
          <p class="text-justify">
            PROCOM paves the future through unlocking opportunities such that the hindrances
            between the industry and academia are conquered. It challenges individuals to
            explore their true potential via a wide range of cut-throat competitions, top-notch
            seminars, stimulating tech talks, and one of the biggest job fair.
          </p>
          <p class="footer-text">
            PROCOM &copy;2019 All rights reserved.
          </p>								
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 social-widget">
          <div class="single-footer-widget">
              <h6>Follow Us</h6>
              <p>Let us be social</p>
              <div class="footer-social d-flex align-items-center">
                  <a href="https://web.facebook.com/Procom.Net.Pk"><i class="fab fa-facebook-f"></i></a>
                  <a href="https://twitter.com/procom2019"><i class="fab fa-twitter"></i></a>
                  <a href="https://www.instagram.com/procom2019"><i class="fab fa-instagram"></i></a>
              </div>
          </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6">

        <div class="d-none d-md-block">
            <div class="text-center">
                <div class="single-footer-widget">
                    <h6>Designed and Developed by</h6>
                    <a href="https://acm.khi.nu.edu.pk" target="_blank">
                        <img class="mx-auto d-block" src="assets/img/acmlogo.png" class="img-fluid">
                    </a>
                </div>
              </div>
        </div>

        <div class="d-md-none mt-5 mt-sm-5">
            <div class="text-center">
                <div class="single-footer-widget">
                    <h6>Designed and Developed by</h6>
                    <a href="https://acm.khi.nu.edu.pk" target="_blank">
                        <img class="mx-auto d-block" src="assets/img/acmlogo.png" class="img-fluid">
                    </a>
                </div>
              </div>
        </div>
      </div>
      
    </div>
  </div>
  </footer>	
  <!-- End footer Area -->