<section class="generic-banner relative">	
  <div class="container">
    <div class="row height align-items-center justify-content-center">
      <div class="col-lg-10">
        <div class="generic-banner-content">
          <h2 class="text-white">Competitions</h2>
          <p class="text-white">
              We bring forward perplexing competitions from an assortment of categories.
              Get ready to challenge yourself, probe your skills and discover your upper limit.
          </p>
        </div>							
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->
<!-- Start Generic Area -->
<section class="about-generic-area section-gap">
  <div class="container border-top-generic">
    <div class="row">
      <div class="col-md-12">
        <div class="d-none d-md-block">
          <div class="row">
            <div class="col-3">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-cs-tab" data-toggle="pill" href="#v-pills-cs" role="tab" aria-controls="v-pills-cs" aria-selected="true">Computer Science</a>
                <a class="nav-link" id="v-pills-ms-tab" data-toggle="pill" href="#v-pills-ms" role="tab" aria-controls="v-pills-ms" aria-selected="false">Management Sciences</a>
                <a class="nav-link" id="v-pills-ee-tab" data-toggle="pill" href="#v-pills-ee" role="tab" aria-controls="v-pills-ee" aria-selected="false">Electrical Engineering</a>
                <a class="nav-link" id="v-pills-gaming-tab" data-toggle="pill" href="#v-pills-gaming" role="tab" aria-controls="v-pills-gaming" aria-selected="false">Gaming</a>
                <a class="nav-link" id="v-pills-other-tab" data-toggle="pill" href="#v-pills-other" role="tab" aria-controls="v-pills-other" aria-selected="false">Other</a>
              </div>
            </div>
            <div class="col">
              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-cs" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <competitions-list title="Computer Science" size="3" [competitions]="this.cs_competitions"></competitions-list>
                </div>
                <div class="tab-pane fade" id="v-pills-ee" role="tabpanel" aria-labelledby="v-pills-ee-tab">
                    <competitions-list title="Electrical Engineering" size="3" [competitions]="this.ee_competitions"></competitions-list>
                </div>
                <div class="tab-pane fade" id="v-pills-ms" role="tabpanel" aria-labelledby="v-pills-ms-tab">
                    <competitions-list title="Management Sciences" size="3" [competitions]="this.bba_competitions"></competitions-list>
                </div>
                <div class="tab-pane fade" id="v-pills-other" role="tabpanel" aria-labelledby="v-pills-other-tab">
                    <competitions-list title="General" size="3" [competitions]="this.gen_competitions"></competitions-list>
                </div>
                <div class="tab-pane fade" id="v-pills-gaming" role="tabpanel" aria-labelledby="v-pills-gaming-tab">
                    <competitions-list title="Gaming" size="3" [competitions]="this.gam_competitions"></competitions-list>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="d-block d-md-none">
            <competitions-list title="Computer Science" [competitions]="this.cs_competitions"></competitions-list><br/>
            <competitions-list title="Electrical Engineering" [competitions]="this.ee_competitions"></competitions-list><br/>
            <competitions-list title="Management Sciences" [competitions]="this.bba_competitions"></competitions-list><br/>
            <competitions-list title="General" [competitions]="this.gen_competitions"></competitions-list><br/>
            <competitions-list title="Gaming" [competitions]="this.gam_competitions"></competitions-list><br/>
        </div>
      </div>
    </div>
  </div>
</section>