/* not active */
.nav-pills .nav-link:not(.active) {
    background-color: #f9f9ff;
}

.nav-pills .nav-link.active {
    border-right: 3px solid orange;
    border-radius: 0;
}

/* active (faded) */
.nav-pills .nav-link {
    background-color: #fff;
    color: #000;
}