<!-- Start spekers Area -->
<section class="spekers-area pb-100" id="speakers">
  <div class="container-fluid">
    <div class="row no-padding">
      <div class="active-speaker-carusel col-lg-12 no-padding">
        <!-- <team-member [member]="members.faraz"></team-member>
        <team-member [member]="members.anum"></team-member>
        <team-member [member]="members.humayun"></team-member>
        <!-- <team-member [member]="members.mawiz"></team-member> -->
        <!-- <team-member [member]="members.daniyal"></team-member> -->
        <!-- <team-member [member]="members.inseya"></team-member> -->
        <!-- <team-member [member]="members.ammar"></team-member> -->
        <!-- <team-member [member]="members.bahram"></team-member> -->
        <!-- <team-member [member]="members.aruba"></team-member> -->
        <!-- <team-member [member]="members.acm"></team-member> -->
        <div class="single-speaker item">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-6 speaker-img no-padding">
                <img src="assets/img/team/faraz.JPG" alt="">
              </div>
              <div class="col-md-6 speaker-info no-padding">
                <h6 class="text-uppercase">President</h6>
                <h1 class="text-white">Faraz Ahmed Bayunus</h1>
              </div>
            </div>
          </div>								
        </div>
        <div class="single-speaker item">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-6 speaker-img no-padding">
                <img src="assets/img/team/anum.JPG" alt="">
              </div>
              <div class="col-md-6 speaker-info no-padding">
                <h6 class="text-uppercase">Vice President</h6>
                <h1 class="text-white">Anum Khan</h1>
              </div>
            </div>
          </div>								
        </div>
        <div class="single-speaker item">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-6 speaker-img no-padding">
                <img src="assets/img/team/humayun.JPG" alt="">
              </div>
              <div class="col-md-6 speaker-info no-padding">
                <h6 class="text-uppercase">Vice President</h6>
                <h1 class="text-white">Humayun Iqbal</h1>
              </div>
            </div>
          </div>								
        </div>
        <div class="single-speaker item">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-6 speaker-img no-padding">
                <img src="assets/img/team/aruba.jpg" alt="">
              </div>
              <div class="col-md-6 speaker-info no-padding">
                <h6 class="text-uppercase">General Secretary</h6>
                <h1 class="text-white">Aruba Memon</h1>
              </div>
            </div>
          </div>								
        </div>
        <div class="single-speaker item">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-6 speaker-img no-padding">
                <img src="assets/img/team/inseya.JPG" alt="">
              </div>
              <div class="col-md-6 speaker-info no-padding">
                <h6 class="text-uppercase">Head Guest Relations</h6>
                <h1 class="text-white">Inseya Batool</h1>
              </div>
            </div>
          </div>								
        </div>
        <div class="single-speaker item">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-6 speaker-img no-padding">
                <img src="assets/img/team/ammar.JPG" alt="">
              </div>
              <div class="col-md-6 speaker-info no-padding">
                <h6 class="text-uppercase">Event Administration</h6>
                <h1 class="text-white">Ammar Siddiqui</h1>
              </div>
            </div>
          </div>								
        </div>
        <div class="single-speaker item">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-6 speaker-img no-padding">
                <img src="assets/img/team/acm.JPG" alt="">
              </div>
              <div class="col-md-6 speaker-info no-padding">
                <h6 class="text-uppercase">Techincal Partner</h6>
                <h1 class="text-white">ACM-NUCES KHI Student Chapter</h1>
              </div>
            </div>
          </div>								
        </div>
      </div>
    </div>
  </div>	
</section>
<!-- End spekers Area -->