<section class="generic-banner relative">	
  <div class="container">
    <div class="row height align-items-center justify-content-center">
      <div class="col-lg-10">
        <div class="generic-banner-content">
          <h2 class="text-white">My Teams</h2>
          <p class="text-white">Details of all of your teams show here.</p>
        </div>							
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->
<div class="container container-v-padded">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h1 class="h3 mb-3 font-weight-normal">My Teams</h1>
        <p *ngIf="teams && teams.length < 1"><i>No teams registered.</i></p>
        <table class="table table-responsive-sm table-hover cursor-pointer" *ngIf="teams && teams.length > 0">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Competiton</th>
                <th scope="col">Accomodation?</th>
                <th scope="col">Paid?</th>
              </tr>
            </thead>
            <ng-container *ngFor="let team of teams; let i = index">
              <tbody>
                <tr data-toggle="collapse" [attr.data-target]="'#tr-'+i" aria-expanded="false" [attr.aria-controls]="'tr-'+i">
                  <td><small>+</small></td>
                  <td><span class="badge badge-secondary">{{team.code}}</span></td>
                  <td>{{team.name}}</td>
                  <td>{{team.competition.name}}</td>
                  <td>{{team.is_accomodation ? "Yes" : "No"}}</td>
                  <th scope="row">{{(team.payment && team.payment.is_verified && team.total_fee == team.payment.total_fee) ? "Yes" : "No"}}</th>
                </tr>
              </tbody>
              <tbody [id]="'tr-'+i" class="collapse-row collapse">
                <tr class="text-left h4 no-hover">
                  <th colspan="7">- Members Information</th>
                </tr>
                <tr class="bg-info text-white">
                  <th colspan="3">Name</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <th>CNIC</th>
                  <th></th>
                </tr>
                <tr *ngFor="let member of team.members">
                  <td colspan="3">{{member.name}}</td>
                  <td>{{member.email}}</td>
                  <td>{{member.phone_no}}</td>
                  <td>{{member.cnic == "" ? "-" : member.cnic}}</td>
                  <td></td>
                </tr>
              </tbody>
            </ng-container>
          </table>
      </div>
    </div>
  </div>