.collapse-row::before {
    content: '';
    display: block;
    height: 20px;
}

.collapse-row tr:first-child th {
    border: 0;
}

.no-hover:hover {
    background: #fff;
}

.collapse-row::after {
    content: '';
    display: block;
    height: 40px;
}

.cursor-pointer {
    cursor: pointer;
}