<section class="generic-banner relative">	
  <div class="container">
    <div class="row height align-items-center justify-content-center">
      <div class="col-lg-10">
        <div class="generic-banner-content">
          <h2 class="text-white">Payment Verifications</h2>
          <p class="text-white">Jeevay jeevay payment verifications.</p>
        </div>							
      </div>
    </div>
  </div>
</section>
<div class="container container-v-padded">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-responsive-sm">
        <thead>
          <tr>
            <th scope="col">Team</th>
            <th scope="col">Total Fee</th>
            <th scope="col">Pay Date</th>
            <th scope="col">Ambassador</th>
            <th scope="col">Submittor</th>
            <th scope="col">TRX ID</th>
            <th *ngIf="payments && payments.length>0" scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let payment of payments; let i = index" [class.table-success]="payment.is_verified == true">
              <td>{{payment.team.name}}</td>
              <td>{{payment.total_fee}}</td>
              <td>{{payment.pay_date | date:'medium'}}</td>
              <td>{{payment.ambassador ? payment.ambassador.name : '-'}}</td>
              <td>{{payment.submittor ? payment.submittor.name : '-'}}</td>
              <td>{{payment.submittor ? payment.trx_id : '-'}}</td>
              <td>
                <a *ngIf="!payment.is_verified" href="#" (click)="verifyPayment(i)">Verify</a>
                <p *ngIf="payment.verifier"><strong>Verified by:</strong> {{payment.verifier.name}} <br> <strong>at:</strong> {{payment.verify_date | date:'medium'}}</p>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>