<section class="generic-banner relative">	
  <div class="container">
    <div class="row height align-items-center justify-content-center">
      <div class="col-lg-10">
        <div class="generic-banner-content">
          <h2 class="text-white">Ambassadors</h2>
          <p class="text-white">Jeevay jeevay ambassadors.</p>
        </div>							
      </div>
    </div>
  </div>
</section>
<div class="container container-v-padded">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <ambassador-form [mode]="addAmbassadorFormMode" [ambassador]="ambassador" (ambassadorEdit)="onAmbassadorEdit($event)" (ambassadorAdd)="onAmbassadorAdd($event)"></ambassador-form>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <table class="table table-responsive-sm">
        <thead>
          <tr>
            <th scope="col" colspan="2">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Institute</th>
            <th scope="col">Department</th>
            <th *ngIf="ambassadors && ambassadors.length>0" scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="ambassadors && ambassadors.length>0">
            <tr *ngFor="let ambassador of ambassadors; let i = index">
              <td><img width="50px" height="auto" [src]="ambassador.photo" /></td>
              <td><a [href]="ambassador.website_link">{{ambassador.name}}</a></td>
              <td>{{ambassador.email}}</td>
              <td>{{ambassador.phone_no}}</td>
              <td>{{ambassador.institute.name}}</td>
              <td>{{ambassador.department}}</td>
              <td>
                <a href="#" (click)="editAmbassador(i)">Edit</a> | 
                <a href="#" (click)="removeAmbassador(i)">Remove</a>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="ambassadors && ambassadors.length<1">
            <tr>
              <td colspan="5">No ambassadors</td>
            </tr>  
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>