.hover-rotate i {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
            transition:         transform .8s ease-in-out;
}
.hover-rotate:hover i {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}