<div class="whole-wrap">
  <div class="container d-none d-md-block">
    <div class="section-top-border">
      <div class="row">
        <div class="col-md-6 hover-rotate">
          <div class="row">
            <div class="col-md-12 text-center">
              <i class="fas fa-graduation-cap fa-4x"></i><br/>
              <i class="fas fa-dot-circle fa-1x"></i>
              <h2>JOB FAIR</h2>
              <div clas="row">
                <div class="col-lg-10 offset-lg-1">
                  <p class="">
                    Opening doors to exciting opportunities, PROCOM brings to you one of the
                    most propitious and the biggest job fair with many of the leading
                    names in the industry.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 hover-rotate">
          <div class="row justify-content-center">
            <div class="col-md-12 text-center">
              <i class="fas fa-chalkboard fa-4x"></i><br/>
              <i class="fas fa-dot-circle fa-1x"></i>
              <h2>SEMINARS AND TECH TALKS</h2>
              <div clas="row">
                <div class="col-lg-10 offset-lg-1">
                  <p>
                    Brace yourselves for some cerebral stimulation. Witness topnotch seminars
                    and tech talks that will leave you enthralled.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-top-border">
      <div class="row">
        <div class="col-md-6 hover-rotate">
          <div class="row">
            <div class="col-md-12 text-center">
              <i class="fas fa-bus fa-4x"></i><br/>
              <i class="fas fa-dot-circle fa-1x"></i>
              <h2>TRANSPORT</h2>
              <div clas="row">
                <div class="col-lg-10 offset-lg-1">
                  <p class="">
                    If you are concerned about the distance you may have to travel or any
                    inconvenience regarding the conveyance, worry no more. To aid and ease your
                    participation, we come forward with free transport services.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 hover-rotate">
          <div class="row">
            <div class="col-md-12 text-center">
              <i class="fas fa-utensils fa-4x"></i><br/>
              <i class="fas fa-dot-circle fa-1x"></i>
              <h2>LUNCH</h2>
              <div clas="row">
                <div class="col-lg-10 offset-lg-1">
                  <p class="">
                    No event is ever complete without a good, scrumptious meal. We look forward
                    to providing you with some palatable food.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-block d-md-none">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 text-center">
            <i class="fas fa-graduation-cap fa-4x"></i><br/>
            <i class="fas fa-dot-circle fa-1x"></i>
            <h2>JOB FAIR</h2>
            <p class="">
              Opening doors to exciting opportunities, PROCOM brings to you one of the most
              propitious and the biggest (tech) job fair with many of the leading names in the
              industry. You would not want to miss this.
            </p>
          </div>
        </div>
        <br/><br/>
        <div class="row">
          <div class="col-md-12 text-center">
            <i class="fas fa-chalkboard fa-4x"></i><br/>
            <i class="fas fa-dot-circle fa-1x"></i>
            <h2>SEMINARS AND TECH TALKS</h2>
              <p class="">
                Brace yourselves for some cerebral stimulation. Witness topnotch seminars and
                tech talks that will leave you enthralled.
              </p>
            </div>
        </div>
        <br/><br/>
        <div class="row">
          <div class="col-md-12 text-center">
            <i class="fas fa-bus fa-4x"></i><br/>
            <i class="fas fa-dot-circle fa-1x"></i>
            <h2>TRANSPORT</h2>
            <p class="">
              If you are concerned about the distance you may have to travel or any
              inconvenience regarding the conveyance, worry no more. To aid and ease your
              participation, we come forward with free transport services.
            </p>
          </div>
        </div>
        <br/><br/>
        <div class="row">
          <div class="col-md-12 text-center">
            <i class="fas fa-utensils fa-4x"></i><br/>
            <i class="fas fa-dot-circle fa-1x"></i>
            <h2>LUNCH</h2>
            <p class="">
              No event is ever complete without a good, scrumptious meal. We look forward to
              providing you with some palatable food.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>