<section class="generic-banner relative">	
  <div class="container">
    <div class="row height align-items-center justify-content-center">
      <div class="col-lg-10">
        <div class="generic-banner-content">
          <h2 class="text-white">Competitions</h2>
          <p class="text-white">Jeevay jeevay competitions.</p>
        </div>							
      </div>
    </div>
  </div>
</section>
<div class="container container-v-padded">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <competition-form [mode]="addCompetitionFormMode" [competition]="competition" (competitionAdd)="onCompetitionAdd($event)" (competitionEdit)="onCompetitionEdit($event)"></competition-form>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <table class="table table-responsive-sm">
        <thead>
          <tr>
            <th scope="col" colspan="2">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Min-Max members</th>
            <th scope="col">Per member fee</th>
            <th *ngIf="competitions && competitions.length>0" scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="competitions && competitions.length>0">
            <tr *ngFor="let competition of competitions; let i = index">
              <td><img width="50px" height="auto" [src]="competition.photo" /></td>
              <td><a [href]="'competitions/'+competition.slug">{{competition.name}}</a></td>
              <td>{{competition.category}}</td>
              <td>{{competition.min_members}}-{{competition.max_members}}</td>
              <td>{{competition.per_member_fee}}</td>
              <td>
                <a href="#" (click)="editCompetition(i)">Edit</a> | 
                <a href="#" (click)="removeCompetition(i)">Remove</a>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="competitions && competitions.length<1">
            <tr>
              <td colspan="5">No competitions</td>
            </tr>  
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>