<section class="generic-banner relative">	
  <div class="container">
    <div class="row height align-items-center justify-content-center">
      <div class="col-lg-10">
        <div class="generic-banner-content">
          <h2 class="text-white">Sponsors</h2>
          <p class="text-white">Jeevay jeevay sponsors.</p>
        </div>							
      </div>
    </div>
  </div>
</section>
<div class="container container-v-padded">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <sponsor-form [mode]="addSponsorFormMode" [sponsor]="sponsor" (sponsorAdd)="onSponsorAdd($event)"></sponsor-form>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <table class="table table-responsive-sm">
        <thead>
          <tr>
            <th scope="col" colspan="2">Name</th>
            <th scope="col">Level</th>
            <th scope="col">Description</th>
            <th *ngIf="sponsors && sponsors.length>0" scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="sponsors && sponsors.length>0">
            <tr *ngFor="let sponsor of sponsors; let i = index">
              <td><img width="50px" height="auto" [src]="sponsor.photo" /></td>
              <td><a [href]="sponsor.website_link">{{sponsor.name}}</a></td>
              <td>{{sponsor.level}}</td>
              <td>{{sponsor.description}}</td>
              <td>
                <a href="#" (click)="editSponsor(i)">Edit</a> | 
                <a href="#" (click)="removeSponsor(i)">Remove</a>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="sponsors && sponsors.length<1">
            <tr>
              <td colspan="5">No sponsors</td>
            </tr>  
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>