<div class="row sponsors-list">
  <div class="col-md-12">
    <h3>{{title}}</h3>
    <hr/>
    <div class="d-none d-md-block">
      <div class="row logo-wrap">
        <div *ngFor="let sponsor of sponsors" [class]="'col-md-'+size+' single-img'">
          <a [href]="sponsor.website_link">
            <img [src]="sponsor.photo" class="d-block mx-auto img-cover" />
          </a>
        </div>
      </div>
    </div>
    <div class="d-block d-md-none">
      <div class="row logo-wrap">
        <div *ngFor="let sponsor of sponsors" [class]="'col-'+size+' single-img'">
          <a [href]="sponsor.website_link">
            <img [src]="sponsor.photo" class="d-block mx-auto img-cover" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>