<div class="container container-v-padded">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>

        <input type="email" name="email" formControlName="email" class="single-input" placeholder="Email address" required autofocus>
        <control-messages [control]="loginForm.controls.email"></control-messages>
        <br>
        
        <input type="password" name="password" formControlName="password" class="single-input" placeholder="Password" required>
        <control-messages [control]="loginForm.controls.password"></control-messages>
        <br>

        <!-- To be implemented later -->
        <!-- <small><a href="/forget-password"><p>Forget Password? Click Here</p></a></small> -->
        
        <re-captcha formControlName="recaptcha"></re-captcha>
        <br>
        
        <button class="genric-btn primary circle pull-right" *ngIf="!loginForm.invalid" type="submit">Log in</button>
      </form>
    </div>
  </div>
</div>