<section class="generic-banner relative">	
  <div class="container">
    <div class="row height align-items-center justify-content-center">
      <div class="col-lg-10">
        <div class="generic-banner-content">
          <h2 class="text-white">Promos</h2>
          <p class="text-white">Jeevay jeevay promos.</p>
        </div>							
      </div>
    </div>
  </div>
</section>
<div class="container container-v-padded">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <form class="form-inline justify-content-center">
        <input class="form-control single-input" type="text" placeholder="Enter code to generate" name="code" [(ngModel)]="code" />
        <button class="genric-btn info" (click)="generatePromo()">Generate New</button>
      </form>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <table class="table table-responsive-sm table-hover">
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Expires On</th>
            <th scope="col">Expired?</th>
            <th *ngIf="promos && promos.length>0" scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="promos && promos.length>0">
            <tr *ngFor="let promo of promos; let i = index" [class.table-success]="promo.is_expired">
              <td>{{promo.code}}</td>
              <td>{{promo.expiry_date | date:'medium'}}</td>
              <td>{{promo.is_expired ? "Yes" : "No"}}</td>
              <td>
                <a href="#" (click)="expirePromo(i)">Expire</a> | 
                <a href="#" (click)="removePromo(i)">Remove</a>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="promos && promos.length<1">
            <tr>
              <td colspan="3">No promos</td>
            </tr>  
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>