<div class="row">
  <div class="col-md-12 text-right">
    <a href="#" data-toggle="collapse" data-target="#competitionFormContainer">Show {{mode}} competition form</a>
  </div>
</div>
<div class="row collapse" id="competitionFormContainer">
  <div class="col-md-12">
    <form class="form-signin" [formGroup]="competitionForm" (ngSubmit)="onCompetitionSubmit()">
      <input type="name" name="name" formControlName="name" class="single-input" placeholder="Name" required autofocus>
      <control-messages [control]="competitionForm.controls.name"></control-messages>
      <br>
      
      <input type="text" name="category" formControlName="category" class="single-input" placeholder="Category" required>
      <control-messages [control]="competitionForm.controls.category"></control-messages>
      <br>
      
      <input type="text" name="min_members" formControlName="min_members" class="single-input" placeholder="Min Members" required>
      <control-messages [control]="competitionForm.controls.min_members"></control-messages>
      <br>

      <input type="text" name="max_members" formControlName="max_members" class="single-input" placeholder="Max Members" required>
      <control-messages [control]="competitionForm.controls.max_members"></control-messages>
      <br>

      <input type="text" name="per_member_fee" formControlName="per_member_fee" class="single-input" placeholder="Per Member Fee" required>
      <control-messages [control]="competitionForm.controls.per_member_fee"></control-messages>
      <br>

      <input type="text" name="photo" formControlName="photo" class="single-input" placeholder="Photo" required>
      <control-messages [control]="competitionForm.controls.photo"></control-messages>
      <br>

      <input type="text" name="description" formControlName="description" class="single-input" placeholder="Description" required>
      <control-messages [control]="competitionForm.controls.description"></control-messages>
      <br>
      
      <textarea type="text" name="judging_criteria" formControlName="judging_criteria" class="single-input" placeholder="Judging Criteria" required></textarea>
      <control-messages [control]="competitionForm.controls.judging_criteria"></control-messages>
      <br>

      <div>
        <h5>Rules:</h5>
        <table class="table table-responsive-sm">
          <thead>
            <tr>
              <th scope="col">Rule</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="competitionForm.controls.rules.value.length">
              <tr *ngFor="let rule of competitionForm.controls.rules.value; let i = index;">
                  <td>{{rule}}</td>
                  <td>
                    <a href="#" (click)="moveUpRule(i)">Move Up</a> | 
                    <a href="#" (click)="moveDownRule(i)">Move Down</a> | 
                    <a href="#" (click)="editRule(i)">Edit</a> | 
                    <a href="#" (click)="removeRule(i)">Remove</a>
                  </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="!competitionForm.controls.rules.value.length">
              <tr>
                <td colspan="2">No rules - dua lipa</td>
              </tr>  
            </ng-container>
          </tbody>
        </table>
      </div>

      <div class="row">
        <div class="col-md-10">
          <input type="text" name="rule" formControlName="rule" class="single-input" placeholder="Rule" required>
        </div>
        <div class="col-md-2">
          <button class="genric-btn danger circle" type="button" (click)="addOrEditRule()">{{isEdittingRule ? 'Edit' : 'Add'}}</button> 
        </div>
      </div>
      <control-messages [control]="competitionForm.controls.rule"></control-messages>
      <br>

      <button class="genric-btn primary circle" type="submit">Submit</button> 
      <button class="genric-btn info circle" type="button" (click)="resetForm()">Cancel</button>
    </form>
  </div>
</div>