<section class="generic-banner relative">	
  <div class="container">
    <div class="row height align-items-center justify-content-center">
      <div class="col-lg-10">
        <div class="generic-banner-content">
          <h2 class="text-white">Sponsors</h2>
          <p class="text-white">Without their support, we wouldn’t have made it to where we stand today. We appreciate and thank their presence. Their collaboration will always be cherished.</p>
        </div>							
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->
<!-- Start Generic Area -->
<section class="about-generic-area section-gap">
  <div class="container border-top-generic">
    <div class="row">
      <div class="col-md-9 offset-md-1">
        <div class="d-none d-md-block">
          <div *ngIf="this.mainSponsors && this.mainSponsors.length > 0">
              <sponsors-list title="Main Sponsor" size="6" [sponsors]="this.mainSponsors"></sponsors-list>
          </div>
          <div *ngIf="this.coSponsors && this.coSponsors.length > 0">
              <sponsors-list title="Co Sponsor(s)" size="4" [sponsors]="this.coSponsors"></sponsors-list>
          </div>
          <div *ngIf="this.diamondSponsors && this.diamondSponsors.length > 0">
              <sponsors-list title="Diamond Sponsor(s)" size="3" [sponsors]="this.diamondSponsors"></sponsors-list>
          </div>
          <div *ngIf="this.platinumSponsors && this.platinumSponsors.length > 0">
            <sponsors-list title="Platinum Sponsor(s)" size="3" [sponsors]="this.platinumSponsors"></sponsors-list>
          </div>
          <div *ngIf="this.otherSponsors && this.otherSponsors.length > 0">
            <sponsors-list title="Other Sponsor(s)" size="2" [sponsors]="this.otherSponsors"></sponsors-list>
          </div>
        </div>
        <div class="d-block d-md-none">
          <div *ngIf="this.mainSponsors && this.mainSponsors.length > 0">
              <sponsors-list title="Main Sponsor" size="7" [sponsors]="this.mainSponsors"></sponsors-list>
          </div>
          <div *ngIf="this.coSponsors && this.coSponsors.length > 0">
              <sponsors-list title="Co Sponsor(s)" size="5" [sponsors]="this.coSponsors"></sponsors-list>
          </div>
          <div *ngIf="this.diamondSponsors && this.diamondSponsors.length > 0">
              <sponsors-list title="Diamond Sponsor(s)" size="4" [sponsors]="this.diamondSponsors"></sponsors-list>
          </div>
          <div *ngIf="this.platinumSponsors && this.platinumSponsors.length > 0">
            <sponsors-list title="Platinum Sponsor(s)" size="4" [sponsors]="this.platinumSponsors"></sponsors-list>
          </div>
          <div *ngIf="this.otherSponsors && this.otherSponsors.length > 0">
            <sponsors-list title="Other Sponsor(s)" size="3" [sponsors]="this.otherSponsors"></sponsors-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Generic Start -->	