<section class="generic-banner relative">	
  <div class="container">
    <div class="row height align-items-center justify-content-center">
      <div class="col-lg-10">
        <div class="generic-banner-content">
          <h2 class="text-white">401 Unauthorized</h2>
          <p class="text-white">Umm...don't even think about doing it.</p>
        </div>							
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->