<section class="generic-banner relative">	
  <div class="container">
    <div class="row height align-items-center justify-content-center">
      <div class="col-lg-10">
        <div class="generic-banner-content">
          <h2 class="text-white">Ambassadors</h2>
          <p class="text-white">
            Every significant event requires an audience to witness its magnitude and greatness.
            To gather such an audience would have been tough without these unique personalities
            who volunteered to inform their respective educational institutes about PROCOM.
          </p>
        </div>							
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->
<div class="container container-v-padded">
  <div class="col-md-12">
    <h1 class="">Ambassadors</h1>
    <hr/>
    <div class="accordion" id="institutesAccordion">
      <div class="card mb-3 accordion-card" *ngFor="let institute of institutes; let i = index">
        <div class="card-header">
          <button class="genric-btn info" type="button" data-toggle="collapse" [attr.data-target]="'#collapse-'+i" aria-expanded="true" aria-controls="collapseOne">
            {{institute.name}}
          </button>
        </div>
        <div [id]="'collapse-'+i" class="collapse" aria-labelledby="" data-parent="#institutesAccordion">
          <div class="card-body">
            <div class="card mb-3" *ngFor="let ambassador of institute.ambassadors">
              <div class="row">
                <div class="col-md-2">
                  <img [src]="ambassador.photo" class="img-contain" alt="...">
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title">{{ambassador.name}}</h5>
                    <p class="card-subtitle">{{ambassador.email}}</p>
                    <p class="card-text">{{ambassador.department}}</p>
                    <p class="card-text">{{ambassador.phone_no}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>