<div class="row">
  <div class="col-md-12 text-right">
    <a href="#" data-toggle="collapse" data-target="#ambassadorFormContainer">Show {{mode}} ambassador form</a>
  </div>
</div>
<div class="row collapse" id="ambassadorFormContainer">
  <div class="col-md-12">
    <form class="form-signin" [formGroup]="ambassadorForm" (ngSubmit)="onAmbassadorSubmit()">
      <input type="name" name="name" formControlName="name" class="single-input" placeholder="Name" required autofocus>
      <control-messages [control]="ambassadorForm.controls.name"></control-messages>
      <br>
      
      <input type="text" name="email" formControlName="email" class="single-input" placeholder="Email" required>
      <control-messages [control]="ambassadorForm.controls.email"></control-messages>
      <br>
      
      <input type="text" name="photo" formControlName="photo" class="single-input" placeholder="Photo" required>
      <control-messages [control]="ambassadorForm.controls.photo"></control-messages>
      <br>
      
      <input type="text" name="phoneNumber" formControlName="phoneNumber" class="single-input" placeholder="Photo Number" required>
      <control-messages [control]="ambassadorForm.controls.phoneNumber"></control-messages>
      <br>

      <ng-select [items]="institutions$ | async"
        formControlName="institute"
        placeholder="Institution"
        bindLabel="name"
        class="ng-select-custom">
      </ng-select>
      <control-messages [control]="ambassadorForm.controls.institute"></control-messages>
      <br>

      <input type="text" name="department" formControlName="department" class="single-input" placeholder="Department" required>
      <control-messages [control]="ambassadorForm.controls.department"></control-messages>
      <br>

      <button class="genric-btn primary circle" type="submit">Submit</button> 
      <button class="genric-btn info circle" type="button" (click)="resetForm()">Cancel</button>
    </form>
  </div>
</div>