<div class="container container-v-padded">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        
        <input type="text" name="name" formControlName="name" class="single-input" placeholder="Name" required autofocus>
        <control-messages [control]="registerForm.controls.name"></control-messages>
        <br>

        <input type="email" name="email" formControlName="email" class="single-input" placeholder="Email address" required >
        <control-messages [control]="registerForm.controls.email"></control-messages>
        <br>
        
        <input type="password" name="password" formControlName="password" class="single-input" placeholder="Password" required >
        <control-messages [control]="registerForm.controls.password"></control-messages>
        <br>

        <input type="password" name="confirmPassword" formControlName="confirmPassword" class="single-input" placeholder="Confirm Password" required >
        <control-messages [control]="registerForm.controls.confirmPassword"></control-messages>
        <control-messages [control]="registerForm"></control-messages>
        <br>

        <ng-select [items]="institutes$ | async"
          formControlName="institute"
          placeholder="Institute"
          bindLabel="name"
          class="ng-select-custom">
        </ng-select>
        <control-messages [control]="registerForm.controls.institute"></control-messages>
        <br>

        <input type="text" name="phoneNo" formControlName="phoneNo" class="single-input" placeholder="Phone Number" required >
        <control-messages [control]="registerForm.controls.phoneNo"></control-messages>
        <br>

        <input type="text" name="cnic" formControlName="cnic" class="single-input" placeholder="CNIC (optional)" >
        <control-messages [control]="registerForm.controls.cnic"></control-messages>
        <br>

        <re-captcha formControlName="recaptcha"></re-captcha>

        <button class="genric-btn primary circle pull-right" *ngIf="!registerForm.invalid" type="submit">Register</button>
      </form>
    </div>
  </div>
</div>