<navbar></navbar>

<div class="main-wrapper">
  <flash-messages id="flashMessagesHolder"></flash-messages>
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>

<ngx-loading-bar color="#8ab92d"></ngx-loading-bar>