#flashMessagesHolder {
    position: fixed;
    width: 250px;
    height: 50px;
    padding: 10px;
    top: 50px;
    right: 0;
    z-index: 1000;
    pointer-events: none; // Not supported on IE10 and older; Opera Mini (http://caniuse.com/pointer-events)
}