<header id="header">
  <div class="container">
    <div class="row align-items-center justify-content-between d-flex">
      <div id="logo">
        <a routerLink="/"><img src="assets/img/logo.png" alt="" title="" /></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/sponsors">Sponsors</a></li>
          <li><a routerLink="/ambassadors">Ambassadors</a></li>
          <li><a routerLink="/competitions">Competitions</a></li>
          <li><a *ngIf="!(isLoggedIn$ | async)" routerLink="/login">Login</a></li>
          <li><a *ngIf="!(isLoggedIn$ | async)" routerLink="/register">Register</a></li>
          <li><a *ngIf="isLoggedIn$ | async" routerLink="/teams">My Teams</a></li>
          <li><a *ngIf="isLoggedIn$ | async" (click)="logout()" href="#">Logout</a></li>
          <li><a class="ticker-btn" *ngIf="isLoggedIn$ | async" routerLink="/teams/register">Register Team</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </div>
</header><!-- #header -->