<!-- start banner Area -->
<section class="banner-area relative" id="home">	
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row fullscreen d-flex align-items-center justify-content-center">
      <div class="banner-content col-lg-9 col-md-12">
        <h6>#TriumphingMagnitudes</h6>
        <h1 class="text-white">
          PROCOM 2019
        </h1>
        <div class="countdown">
          <div id="timer" class="text-white"></div>
        </div>
        <h4><span class="lnr lnr-calendar-full"></span>20th, 21st March, 2019</h4>
        <h4><span class="lnr lnr-map"></span>FAST-National University of Computer and Emerging Sciences, Karachi</h4>
      </div>											
    </div>
  </div>
</section>
<!-- End banner Area -->