<div class="row competitions-list">
  <div class="col-md-12">
    <h3>{{title}}</h3>
    <hr/>
    <div class="d-none d-md-block">
      <div class="row">
        <div class="col-md-4" *ngFor="let competition of competitions">
          <div class="card mb-3" (click)="router.navigate(['/competitions', competition.slug])">
            <img [src]="competition.photo" class="card-img" [alt]="competition.name">
            <div class="card-img-overlay">
              <h5 class="card-title text-white">{{competition.name}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-block d-md-none">
      <div class="row">
        <div class="col-md-12">
          <ul>
            <li *ngFor="let competition of competitions">
              <a [routerLink]="['/competitions', competition.slug]" class="d-block text-left genric-btn link-border">{{competition.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>