<div class="row">
  <div class="col-md-12 text-right">
    <a href="#" data-toggle="collapse" data-target="#sponsorFormContainer">Show {{mode}} sponsor form</a>
  </div>
</div>
<div class="row collapse" id="sponsorFormContainer">
  <div class="col-md-12">
    <form class="form-signin" [formGroup]="sponsorForm" (ngSubmit)="onSponsorSubmit()">
      <input type="name" name="name" formControlName="name" class="single-input" placeholder="Name" required autofocus>
      <control-messages [control]="sponsorForm.controls.name"></control-messages>
      <br>
      
      <input type="text" name="level" formControlName="level" class="single-input" placeholder="Level" required>
      <control-messages [control]="sponsorForm.controls.level"></control-messages>
      <br>
      
      <textarea name="description" formControlName="description" class="single-input" placeholder="Description" required></textarea>
      <control-messages [control]="sponsorForm.controls.description"></control-messages>
      <br>
      
      <input type="text" name="photoUrl" formControlName="photoUrl" class="single-input" placeholder="Photo URL" required>
      <control-messages [control]="sponsorForm.controls.photoUrl"></control-messages>
      <br>

      <input type="text" name="websiteUrl" formControlName="websiteUrl" class="single-input" placeholder="Website URL" required>
      <control-messages [control]="sponsorForm.controls.websiteUrl"></control-messages>
      <br>
      <button class="genric-btn primary circle" type="submit">Submit</button> 
      <button class="genric-btn info circle" type="button" (click)="resetForm()">Cancel</button>
    </form>
  </div>
</div>